{% extends 'admin/base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Create New User for {{ business.name }} </h1>

    {{ include('admin/businessuser/_form.html.twig') }}

    <a href="{{ path('business_user_index') }}">back to list</a>
{% endblock %}
