{% extends 'business/appointment/base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <h1>Edit Appointment</h1>

    {{ include('business/appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    {{ include('business/appointment/_delete_form.html.twig') }}
{% endblock %}
