{% extends 'business/base.html.twig' %}

{% block body %}
<div class="container">
<h1>Create New User</h1>
    {{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Submit</button>
{{ form_end(form) }}
</div>
{% endblock %}