{% extends 'business/base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class="btn btn-primary">Submit</button>
<span class="delete-form">
            {{ include('business/businessuser/_delete_form.html.twig') }}
        </span>
{{ form_end(form) }}
</div>
{% endblock %}