{% extends 'business/base.html.twig' %}


{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit" class='btn btn-primary'>Update</button>
<span class="delete-form">
            {{ include('business/businessuser/delete_form.html.twig') }}
        </span>
{{ form_end(form) }}


{% endblock %}