{% extends 'admin/base.html.twig' %}

{% block title %}New SubCategories{% endblock %}

{% block body %}
    <h1>Create new SubCategories</h1>

    {{ include('admin/sub_categories/_form.html.twig') }}

    <a href="{{ path('app_sub_categories_index') }}">back to list</a>
{% endblock %}
